name: Flutter CI & Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          cache: true
          flutter-version: "3.35.7"

      - name: Create .env file
        run: |
          echo "MENSA_API_URL=${{ secrets.MENSA_API_URL }}" >> .env
          echo "FUNDING_URL=${{ vars.FUNDING_URL }}" >> .env

      - name: Install dependencies
        run: flutter pub get

      - name: Run build_runner
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Generate localization
        run: flutter gen-l10n

      - name: Generate launcher icons
        run: flutter pub run flutter_launcher_icons

      - name: Build Flutter web
        run: flutter build web --release --wasm

      - name: Upload artifact for deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/web/

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
